@charset "utf-8";
body,h1,ul{
    margin:0;
    padding:0;
}
header{
     padding:0;
     width:100%;
     min-width:1400px;
     height:160px;
     background-color:gray;
 }
header>#hdiv{

     margin:0 auto;
    padding:0;
     width:1300px;
     height:160px;

     /*background-color:red;*/

 }
header>#hdiv>h1{

    width:300px;
    height:160px;
    background-image:url(../imgs/logo.jpg);
    background-repeat:no-repeat;
    text-indent:-9999px;
    float:left;
}
#myul{
    /*ul必须要有高度设置*/

    width:780px;
    height:160px;
    float: right;
    color:#eee;
    line-height:160px;

}
header>#hdiv>ul>li{
    /*无需设置字体大小，只需设置宽度*/
    font-family:楷体;
    font-size:32px;
    color:#eee;
    width:150px;
    list-style-type:none;
    height:160px;
    float:left;
    text-align:center;

}
header>#hdiv>ul>li>a{
    /*将a做成区块就可以占满li*/
    display:block;
    text-decoration:none;
}
header>#hdiv>ul>li>a:hover{
    background-color:lightgray;
}
header>#hdiv>ul>li>a:link{
    /*background-color:black;*/
    color:#eee;
}
/*header>#hdiv>ul>li>a:visited{*/
    /*background-color:black;*/
/*}*/
footer{
    width:1366px;
    /*一定要定义最小宽*/
    min-width:1400px;
    background-color:#777777;
    clear:both;
    position:relative;
    top:20px;
}
#footer_div{
    width:80%;
    margin:0 auto;
    /*background-color:#777777;*/
}
footer .com{
    width:330px;
    height:160px;
    margin:10px 5px;
    display:inline-block;
}
#footer_div h2{
    color:#ccc;
    margin-top:5px;
    margin-left:5px;
    /*既可以用底部边界也可以用hr单独设置下划虚线*/
    border-bottom:2px dashed silver;
}
#footer_div ul{
    color:#ccc;
    margin-top:-10px;
    margin-left:5px;
    list-style-type:none;
    text-align:left;
    line-height:1.5;
}
/*解决多个div水平对齐时最后一个div对不齐的情况*/
.right{
    vertical-align:top;
}
#footer_bottom{
    font-size:30px;
    line-height:2.5;
    color:#777777;
    margin-top:20px;
    width:100%;
    height:80px;
    background-color:black;
    text-align:center;
    border-top:1px solid #444;
}


